SECRET_KEY=django-insecure-change-this-in-production-uztransport-2024
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.uz
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
USE_POSTGRES=False
DB_NAME=uztransport
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_PORT=5432
CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
